<nav class="nav">
  <div class="flex">
    <div class="logo">
      <i class="fas fa-comment-dollar text-pink-600 mr-3"></i><%= link_to "捐！都捐！", root_path %>
    </div>
    <ul class="menu">
      <li class="link hidden sm:inline-flex">
        <%= link_to "關於", about_path %>
      </li>
      <li class="link hidden sm:inline-flex">
        <%= link_to "原始碼", source_path %>
      </li>
    </ul>
  </div>
  <ul class="menu">
    <% if user_signed_in? %>
      <li class="link">
        <%= link_to "登出", destroy_user_session_path, method: 'delete' %>
      </li>
    <% else %>
      <li class="link">
        <%= link_to "登入", new_user_session_path %>
      </li>
      <li class="link">
        <%= link_to "註冊", new_user_registration_path %>
      </li>
    <% end %>
  </ul>
</nav>
