<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta name="description" content="A simple payment practice app, which is build with Ruby on Rails." />
    <title>Donate Me!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/nav" %>
    <%= render "shared/notice" if notice || alert %>
    <main>
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
